{% extends "base.html" %}

{% block content %}

<div class="col-md-12 col-auto">
  <div class="card">
    <div class="card-header">
      <div class="row">
          <div class="col-md-8">Add New Staff</div>
          <a href="{% url 'home' %}"><div class="col-md-4"><button class="btn btn-primary">Home>>Employees</button></div></a>
      </div>
    </div>

      <form action="store" method="post">
          {% csrf_token %}
          <div class="form-group">
<!--              <label for="first_name">FirstName</label>-->
              <input type="text" name="first_name" placeholder="Enter FirstName" class="form-control">
          </div>
          <div class="form-group">
<!--              <label for="last_name">LastName</label>-->
              <input type="text" name="last_name" placeholder="Enter LastName" class="form-control">
          </div>
          <div class="from-group">
<!--              <label for="email">Email Address</label>-->
              <input type="email" name="email" placeholder="Enter Email" class="form-control">
          </div>
          <div class="form-group">
<!--              <label for="Name">Phone Number</label>-->
              <input type="text" name="phone" placeholder="Enter Phone" class="form-control">
          </div>
          <div class="form-group">
<!--              <label for="job_title">Job Title</label>-->
              <input type="text" name="job_title" placeholder="Enter Job Title" class="form-control">
          </div>
          <div class="form-group">
              <label for="gender">Gender</label>
              <select name="gender" id="" class="form-control">
                  <option value="0">Male</option>
                  <option value="1">Female</option>
              </select>
          </div>
          <div class="form-group">
              <button class="btn btn-primary btn-full">Save</button>
          </div>
      </form>
  </div>
</div>

{% endblock content %}